workflow_template/Mappings分析tool.json
{
  "name": "Mappings分析tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "custom-mappings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "mappings-webhook",
      "name": "Custom Mappings Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -720,
        80
      ],
      "typeVersion": 2,
      "webhookId": "63a7e9dd-6146-48b4-b201-4dd9eb89b3c8"
    },
    {
      "parameters": {
        "jsCode": "// 直接传递所有输入给AI，让AI自己理解\nconst input = $input.item.json;\n\nreturn {\n  chatInput: JSON.stringify(input, null, 2)\n};"
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "position": [
        -496,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "你是Elasticsearch索引结构分析专家，专注于分析索引的字段结构和数据特征。\n\n【可用工具】\n- get_mappings: 获取索引的字段映射结构（支持通配符*）\n- search: 搜索索引数据（谨慎使用，用于获取样本数据理解字段含义）\n- execute_es_api: 执行任意Elasticsearch API（高级用途）\n\n【核心任务】\n分析索引的结构和用途，提供关于\"这个索引保存了什么数据\"的见解。\n\n【主要流程】\n1. 解析用户输入的JSON，理解用户需求和目标索引\n2. 调用 get_mappings 获取索引的字段结构（索引名支持通配符如 logs-*）\n3. 分析字段类型、命名模式，推断索引用途和数据特征\n4. **仅在用户明确要求时**，谨慎地获取1条样本数据辅助理解\n5. 生成结构化的JSON摘要\n\n【用户输入可能包含】\n- index/索引/索引名/pattern: 要分析的索引名称或模式（必需，支持通配符*）\n- include_sample/包含样本/需要样本: 是否获取样本数据（true/false，默认false）\n- sample_fields/采样字段: 指定要采样的字段列表（默认智能选择关键字段）\n- focus/关注/着重: 着重分析的字段类型\n- detail_level/详细程度: 分析深度（summary/detailed/full）\n- include_analyzer/包含分析器: 是否包含analyzer配置\n- check_ecs/检查ECS: 是否检查ECS规范符合度\n- filter/过滤/只看: 只返回特定字段类型\n- merge_similar/合并相似: 对于多索引，是否合并结构（默认true）\n- 任何其他自定义需求：根据语义理解用户意图\n\n【样本数据采样规则（重要！）】\n仅在以下情况采样：\n- 用户明确设置 include_sample=true 或 \"需要样本\"、\"看看数据\"\n- 用户问\"这个索引保存了什么数据\"、\"有什么内容\"\n\n采样时的约束：\n1. **只取1条文档**：使用 search with size=1\n2. **智能选择字段**：\n   - 如果用户指定了sample_fields，只取这些字段\n   - 否则，从mappings中智能选择5-10个关键字段：\n     * 优先：name、title、message、event.action、user.name、host.name等语义明确的字段\n     * 包含：1-2个text字段、1-2个keyword字段、1个date字段、1-2个numeric字段\n     * 排除：binary、过长的字段、系统字段\n3. **使用_source过滤**：只返回必要字段\n4. **查询示例思路**：取size=1，使用_source过滤，如果有时间字段按时间倒序取最新数据\n\n【处理通配符和多索引】\n- 如果索引名包含通配符（*），get_mappings会返回多个索引\n- 默认行为：合并分析所有匹配索引的字段结构\n- 如果用户要求采样且匹配多个索引，只从第一个索引采样\n- 标注：匹配的索引数量、是否为data stream、字段结构一致性\n\n【标准输出格式】\n返回JSON对象（不要用markdown代码块包裹）：\n{\n  \"index\": \"索引名或模式\",\n  \"matched_indices\": [\"匹配到的索引列表\"],\n  \"matched_count\": 匹配数量,\n  \"is_pattern\": true/false,\n  \"is_data_stream\": true/false,\n  \"is_custom\": true/false,\n  \"purpose\": \"根据字段结构推断的索引用途（如：用户数据、系统日志、网络事件、性能指标等）\",\n  \"data_characteristics\": {\n    \"primary_entity\": \"主要实体（如：员工、订单、日志事件、网络流量等）\",\n    \"key_identifiers\": [\"关键标识字段，如id、user_id、event.id等\"],\n    \"temporal_fields\": [\"时间相关字段\"],\n    \"searchable_fields\": [\"适合全文搜索的字段\"],\n    \"notes\": \"其他特征说明\"\n  },\n  \"fields\": {\n    \"text_fields\": [\"字段列表\"],\n    \"keyword_fields\": [\"keyword字段\"],\n    \"date_fields\": [\"日期字段\"],\n    \"numeric_fields\": [\"数值字段\"],\n    \"nested_fields\": [\"嵌套字段\"],\n    \"object_fields\": [\"对象字段\"],\n    \"boolean_fields\": [\"布尔字段\"],\n    \"ip_fields\": [\"IP字段\"],\n    \"geo_fields\": [\"地理字段\"]\n  },\n  \"field_details\": [\n    {\"name\": \"字段名\", \"type\": \"类型\", \"properties\": \"基于字段名和类型推断的用途\"}\n  ],\n  \"sample_data\": {\n    \"included\": true/false,\n    \"document\": {\"实际采样的1条数据（仅包含关键字段）\"},\n    \"insights\": \"从样本数据中观察到的关键信息（如数据格式、典型值、业务含义等）\"\n  },\n  \"structure_consistency\": \"high/medium/low（多索引时）\",\n  \"total_fields\": 数字,\n  \"has_nested\": true/false,\n  \"analyzed_at\": \"ISO时间戳\"\n}\n\n【根据用户需求调整输出】\n- 如果用户指定focus，在该类字段提供更详细信息\n- 如果用户要求detailed，在field_details中包含analyzer、format、metadata等配置\n- 如果用户要求check_ecs，添加ecs_compliance字段\n- 如果用户要求filter，只返回特定类别的字段\n- 如果用户明确要求采样但未指定字段，智能选择最能体现索引用途的5-10个字段\n\n【关键规则】\n- 只调用 get_mappings 一次\n- **默认不采样数据**，除非用户明确要求\n- 如果采样，**只取1条文档，只取关键字段**\n- 即使不采样，也要根据字段名和类型推断索引用途（如：name+email+department → 员工信息索引）\n- 过滤系统字段（_id, _index, _source等）\n- 系统索引（.开头）设置 is_custom: false\n- 输出纯JSON，不要用```包裹\n- field_details中的properties要有实际意义，推断业务含义\n- 在data_characteristics中提供对索引用途的洞察\n- 如果用户自然语言问\"这个索引是干什么的\"、\"保存了什么\"，在没有样本的情况下，基于字段名和结构进行智能推断\n- 对于data stream索引（.ds-开头），标注is_data_stream=true\n- 如果匹配大量索引（>10个），matched_indices只列出代表性的几个\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -272,
        80
      ],
      "id": "mappings-agent",
      "name": "Mappings Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-coder-30b",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-coder-30b"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "mappings-model",
      "name": "Qwen3-30B Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -320,
        304
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "doBBudPqkhtYH1dg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.1.5:3001/mcp",
        "serverTransport": "httpStreamable",
        "include": "selected",
        "includeTools": [
          "get_mappings",
          "es_search",
          "execute_es_api"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -144,
        304
      ],
      "id": "mappings-mcp-tool",
      "name": "Mappings MCP Tool"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-mappings",
      "name": "Respond Mappings",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        80,
        80
      ],
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "Custom Mappings Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Mappings Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mappings Agent": {
      "main": [
        [
          {
            "node": "Respond Mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3-30B Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mappings Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mappings MCP Tool": {
      "ai_tool": [
        [
          {
            "node": "Mappings Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2818a50-0ac6-4915-bfa0-82020b69eabe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f687a50c61872e8ca3cdc5f4ef80c58fddb4a1dc1fa765569c5fde992f32b225"
  },
  "id": "7TWbXHm3P2hUCpKF",
  "tags": []
}